
*{margin: 0; padding: 0; box-sizing: border-box;}


.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:black;
    color: white;
    text-align: center;
}

